<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config></context:annotation-config>

	<bean name="rsvr"
		class="com.varsha.springcore.springcoreadvanced.autowiring.assgn.Reservation"
		p:id="1" p:time="10:00 AM"></bean>

	<bean name="customer"
		class="com.varsha.springcore.springcoreadvanced.autowiring.assgn.Customer" p:name="varsha">
	</bean>

</beans>